@media (min-width: 768px) {
    /*header {
        min-height: 100%
    }*/
    header .header-content {
        text-align: left;
        padding: 0;
        /*height: 100vh;*/
        top: 120px;
    }
    header .device-container {
        max-width: none;
        max-height: calc(0vh);
        margin: 100px auto 0
    }
    .navbar-nav>li {
      float: left;
      margin-top: 5px;
    }
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        height: 60px;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255, 255, 255, .7)
    }
    .navbar-default .navbar-header .navbar-brand:focus,
    .navbar-default .navbar-header .navbar-brand:hover {
        color: #fff
    }
    /*.navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255, 255, 255, .7)
    }*/
    .navbar-default .nav>li>a:focus:hover,
    .navbar-default .nav>li>a:hover {
        color: #fff
    }
    .navbar-default.affix {
        /*background-color: #fff;
        border-color: rgba(34, 34, 34, .1);

        height: 60px;*/
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #222
    }
    .navbar-default.affix .navbar-header .navbar-brand:focus,
    .navbar-default.affix .navbar-header .navbar-brand:hover {
        color: #117ca4;
    }
    .navbar-default.affix .nav>li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #6d6b6b;
        /*margin-top: 6px;*/
    }
    .navbar-default.affix .nav>li>a:focus:hover,
    .navbar-default.affix .nav>li>a:hover {
        color: #117ca4;
    }

    .navbar-default.affix .navbar-header .navbar-brand .main-logo{
      width: 75%;
      height: auto;
      margin-top: -5px;
      /*margin-top: 10px;*/
      display: block;
    }
    .navbar-default .navbar-header .navbar-brand .main-logo{
      display: block;
      width: 60%;
    }
    .badge {
      margin-top: 15px;
    }
}


@media (max-width: 320px) {
  .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
    width: 35%;
    height: auto;
    margin-top: 10px !important;
    display: block;
  }
  .section-heading-home p.text-muted {
    color: #7985af;
    margin-bottom: 15px;
  }
  .navbar-nav.navbar-center {
      position: inherit;
      left: 0%;
      transform: translatex(0%);
  }
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
  }
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .1);
    height: 50px;
  }
  .section-heading-home h1 {
    font-size: 18px;
    padding-right: 25px;
    padding-left: 25px;
  }
  #home > .container {
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  #home p {
    font-size: 10px;
    margin-bottom: 30px;
  }
  p.onetext{
    margin-bottom: 38px;
  }
  .btnRegister {
    margin-bottom: 20px;
  }
  .navbar .container {
    background: white;
  }
  .section-heading-home p.text-muted {
    font-size: 13px;
  }
  .text-request {
    padding-top: 0px;
  }
  .text-request p {
    font-size: 14px;
    text-align: center;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .discount{
    display: none;
  }
  .discText {
    margin-top: 40px;
  }
  .form-request {
    padding: 10px;
  }
  button.btn.btn-primary{
    font-size: 12px !important;
  }
  .stPartner h1{
    font-size: 18px !important;
  }
  .reason .section-heading.stPartner p {
    font-size: 12px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .reasonGroup h4{
    font-size: 14px !important;
    text-align: center;
  }
  .reasonList p {
    font-size: 12px;
    text-align: center;
  }
  .reason-img{
    margin: auto !important;
  }
  .alumni .stPartner p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
  }
  .alumniList h3{
    font-size: 16px;
    text-align: center;
  }
  .alumniList h5 {
    margin-bottom: 12px;
    text-align: center;
  }
  .alumniList p {
    font-size: 11px;
    text-align: center;
  }
  .textprofile {
    font-size: 12px;
  }
  .team h3{
    font-size: 18px;
  }
  .contact p{
    font-size: 12px;
  }
  #map {
    height: 200px;
    width: 260px;
  }
  .falumni {
    width: 50%;
  }
  .PProfile {
    width: 50%;
  }

}

@media (min-width: 320px) and (max-width: 480px){
  .navbar .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar .container {
    background: white;
  }
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .1);
    height: 50px;
  }
  .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
    width: 45%;
    height: auto;
    margin-top: -5px;
    display: block;
  }
  .navbar-nav.navbar-center {
    position: inherit;
    left: 0%;
    transform: translatex(0%);
    background: white;
  }
  .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #1179a2 !important;
    background-color: transparent;
  }
  .section-heading-home h1 {
    font-size: 25px !important;
  }
  #home > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .profession {
    height: 25vh;
  }
  #home p {
    font-size: 13px;
  }
  .btnRegister{
    margin-bottom: 20px;
  }
  .text-request {
    padding-top: 0px;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .discount{
    display: none;
  }
  .discText {
    margin-top: 40px;
  }
  .form-request {
    padding: 10px;
  }
  .form-request p {
    font-size: 14px;
  }
  .form-request input {
    height: 35px;
    font-size: 12px;
  }
  button.btn.btn-primary{
    font-size: 12px !important;
  }
  .stPartner h1{
    font-size: 18px !important;
  }
  .reason .section-heading.stPartner p {
    font-size: 12px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .reasonGroup h4{
    font-size: 14px !important;
    text-align: center;
  }
  .reasonList p {
    font-size: 12px;
    text-align: center;
  }
  .reason-img{
    margin: auto !important;
  }
  .alumni .stPartner p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
  }
  .alumniList h3{
    font-size: 16px;
    text-align: center;
  }
  .alumniList h5 {
    margin-bottom: 12px;
    text-align: center;
  }
  .alumniList p {
    font-size: 11px;
    text-align: center;
  }
  .textprofile {
    font-size: 12px;
  }
  .team h3{
    font-size: 18px;
  }
  .contact p{
    font-size: 12px;
    text-align: center;
  }
  #map {
    height: 200px;
    width: 315px;
  }
  .falumni {
    width: 50%;
  }
  .PProfile {
    width: 50%;
  }
  .text-request p {
    font-size: 14px;
    text-align: center;
  }

}

@media (min-width: 480px) and (max-width: 640px){
  .navbar .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar .container {
    background: white;
  }
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .1);
    height: 50px;
  }
  .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
    width: 45%;
    height: auto;
    margin-top: -5px;
    display: block;
  }
  .navbar-nav.navbar-center {
    position: inherit;
    left: 0%;
    transform: translatex(0%);
    background: white;
  }
  .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #1179a2 !important;
    background-color: transparent;
  }
  .btnRegister {
    margin-bottom: 20px;
  }
  .section-heading-home p.text-muted {
    color: #7985af;
    margin-bottom: 15px;
  }
  #home p {
    font-size: 12px;
    margin-bottom: 30px;
  }
  p.onetext{
    margin-bottom: 28px !important;
  }
  .navbar .container {
    background: white;
  }
  .navbar-default.affix {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .1);
    height: 50px;
  }
  .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
    width: 45%;
    height: auto;
    margin-top: -5px;
    display: block;
  }
  .navbar-nav.navbar-center {
    position: inherit;
    left: 0%;
    transform: translatex(0%);
    background: white;
  }
  .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #1179a2 !important;
    background-color: transparent;
  }
  header .header-content {
      text-align: center;
      /*padding: 150px 0 50px;*/
      position: relative;
      margin-top: 20px;
  }

  .header-content p {
    margin-top: 15px;
  }
  .header-content a {
    margin-top: 10px;
    /*margin-bottom: 30px;*/
  }
  header .device-container {
      max-width: 300px;
      margin: 0 auto 20px
  }
  .section-heading-home h1 {
    font-size: 18px;
    padding-right: 25px;
    padding-left: 25px;
  }
  #home > .container {
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .section-heading-home p.text-muted {
    font-size: 13px;
  }
  .text-request {
    padding-top: 0px;
  }
  .text-request p {
    font-size: 14px;
    text-align: center;
  }
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .discount{
    display: none;
  }
  .discText {
    margin-top: 40px;
  }
  .form-request {
    padding: 10px;
  }
  .form-request p {
    font-size: 14px;
  }
  .form-request input {
    height: 35px;
    font-size: 12px;
  }
  button.btn.btn-primary{
    font-size: 12px !important;
  }
  .stPartner h1{
    font-size: 18px !important;
  }
  .reason .section-heading.stPartner p {
    font-size: 12px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .reasonGroup h4{
    font-size: 14px !important;
    text-align: center;
  }
  .reasonList p {
    font-size: 12px;
    text-align: center;
  }
  .reason-img{
    margin: auto !important;
  }
  .alumni .stPartner p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
  }
  .alumniList h3{
    font-size: 16px;
    text-align: center;
  }
  .alumniList h5 {
    margin-bottom: 12px;
    text-align: center;
  }
  .alumniList p {
    font-size: 11px;
    text-align: center;
  }
  .textprofile {
    font-size: 12px;
  }
  .team h3{
    font-size: 18px;
  }
  .contact p{
    font-size: 12px;
    text-align: center;
  }
  #map {
    height: 200px;
    width: 260px;
  }
  #map {
    height: 200px;
    width: 420px;
  }
  .falumni {
    width: 50%;
  }
  .PProfile {
    width: 50%;
  }

}

@media (max-width: 640px) {
  .navbar .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  button.btn.btn-primary{
    font-size: 12px !important;
  }
  .rc-anchor.rc-anchor-normal.rc-anchor-light {
    width: 88% !important;
  }
  .navbar-nav.navbar-center {
    position: inherit;
    left: 0%;
    transform: translatex(0%);
  }
  .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
    width: 45%;
    height: auto;
    margin-top: -5px;
    display: block;
  }
  .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
    color: #1179a2 !important;
    background-color: transparent;
  }
  header .header-content {
      text-align: center;
      /*padding: 150px 0 50px;*/
      position: relative;
      margin-top: 20px;
  }

  .header-content p {
    margin-top: 15px;
  }
  .header-content a {
    margin-top: 10px;
    /*margin-bottom: 30px;*/
  }
  header .device-container {
      max-width: 300px;
      margin: 0 auto 20px
  }
  .form-request p {
    font-size: 14px;
  }
  .form-request input {
    height: 35px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
    /*.navbar .container {
      padding-right: 30px;
      padding-left: 30px;
      margin-right: auto;
      margin-left: auto;
    }
    .navbar-nav.navbar-center {
      position: inherit;
      left: 0%;
      transform: translatex(0%);
    }
    .main-logo{
      width: 60%;
      margin-top: -10px;
    }
    .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
      width: 90%;
      height: auto;
      margin-top: -5px;
      display: block;
    }
    .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
      color: #1179a2 !important;
      background-color: transparent;
    }
    header .header-content {
        text-align: center;*/
        /*padding: 150px 0 50px;*/
        /*position: relative;
        margin-top: 20px;
    }

    .header-content p {
      margin-top: 15px;
    }
    .header-content a {
      margin-top: 10px;*/
      /*margin-bottom: 30px;*/
    /*}
    header .device-container {
        max-width: 300px;
        margin: 0 auto 20px
    }*/

    .navbar .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .navbar .container {
      background: white;
    }
    .navbar-default.affix {
      background-color: #fff;
      border-color: rgba(34, 34, 34, .1);
      height: 50px;
    }
    .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
      width: 45%;
      height: auto;
      margin-top: -5px;
      display: block;
    }
    .navbar-nav.navbar-center {
      position: inherit;
      left: 0%;
      transform: translatex(0%);
      background: white;
    }
    .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
      color: #1179a2 !important;
      background-color: transparent;
    }
    .navbar .container {
      background: white;
    }
    .navbar-default.affix {
      background-color: #fff;
      border-color: rgba(34, 34, 34, .1);
      height: 50px;
    }
    .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
      width: 45%;
      height: auto;
      margin-top: -5px;
      display: block;
    }
    .navbar-nav.navbar-center {
      position: inherit;
      left: 0%;
      transform: translatex(0%);
      background: white;
    }
    .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
      color: #1179a2 !important;
      background-color: transparent;
    }
    header .header-content {
        text-align: center;
        /*padding: 150px 0 50px;*/
        position: relative;
        margin-top: 20px;
    }
}
@media (max-width: 1023px) {
 .nav-collapse, .nav-collapse.collapse {
   overflow: visible !important;
   height: auto !important;
 }
 .navbar .btn-navbar {
   display:none;
 }

 .dropdown-menu li:hover .sub-menu {
   display: block !important;
   visibility: visible !important;
 }
}
}
