/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
      .navbar-collapse.collapse {
        display: none !important;
      }
      .navbar-collapse.collapse.in {
        display: block !important;
      }
      .navbar-header .collapse, .navbar-toggle {
        display:block !important;
      }
      .navbar-header {
        float:none;
      }
      .navbar .container {
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        padding-right: 45px;
        padding-left: 45px;
      }
      #home>.container {
          margin-top: 0px;
          padding-right: 30px;
          padding-left: 30px;
          margin-right: auto;
          margin-left: auto;
      }
      .container {
          padding-right: 5%;
          padding-left: 5%;
          margin-right: auto;
          width: 100%;
          margin-left: auto;
      }
      .navbar .container {
        background: white;
        width: auto;
      }
      .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, .1);
        height: 50px;
        width: 100%;
      }
      .navbar-nav.navbar-center {
        position: inherit;
        left: 0%;
        transform: translatex(0%);
        background: white;
      }
      .navbar-default {
        background-color: #fff;
        border-color: rgba(34, 34, 34, .05);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
        height: 70px;
        width: 100%;
      }
      .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
        color: #1179a2 !important;
        background-color: transparent;
      }
      .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, .1);
        height: 70px;
        width: 100%;
      }
      .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
        width: 60%;
        height: auto;
        margin-top: -15px;
        display: block;
      }
      .navbar-nav.navbar-center {
        position: inherit;
        left: 0%;
        transform: translatex(0%);
        background: white;
      }
      .navbar-default .nav>li.active>a, .navbar-default .nav>li.active>a:focus {
        color: #1179a2 !important;
        background-color: transparent;
      }
      header .header-content {
          text-align: center;
          position: relative;
          margin-top: 20px;
      }
      .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        /*transform: translatex(-50%);*/
        width: 60%;
        margin-top: 20px;
        transform: translatex(-38%);
      }
      .navbar-nav.navbar-center {
        position: inherit;
        left: 0%;
        transform: translatex(0%);
        background: white;
        width: 100%;
      }
      .navbar-default .navbar-collapse {
          padding-top: 0px;
      }
      .navbar-nav>li {
          float: left;
          width: 100%;
          text-align: center;
      }
      .navbar-right {
          float: right!important;
           margin-right: 0px;
          width: 100%;
          margin-bottom: 10px;
      }
      .tunai {
          background-color: transparent;
          border: 2px solid #6d6aa9;
          color: #6d6aa9;
          font-style: oblique;
          padding: 20px 10px;
          width: 48.5%;
          margin-right: 5px;
      }
      .cicilan {
          /* background-color: #d86f80; */
          background-color: #313052;
          color: #fff;
          font-style: oblique;
          padding: 20px 10px;
          width: 48.5%;
          margin-left: 5px;
      }
      .char{
        margin-left: -35px;
      }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
      .PProfile {
          width: 30%;
      }
      .form-request {
          padding: 20px;
      }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
      #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
      }
      .profession {
        height: 55vh;
      }
      .SPprofession {
        height: 43vh;
      }
      .section-heading-home h1 {
          font-size: 31px;
      }
      .h1, h1 {
          font-size: 31px;
      }
      .reason .section-heading.stPartner p {
          font-size: 17px;
      }
      .alumni .stPartner p {
          padding-left: 15%;
          padding-right: 15%;
          font-size: 17px;
          color: #929fca;
      }
      .reasonList p {
        font-size: 13px;
      }
      .h3, h3 {
          font-size: 20px;
      }
      .alumniList p {
          font-size: 13px;
      }
      .parallax {
          height: 60%;
      }
      .PProfile {
          width: 30%;
      }
      #home p {
          font-size: 13px !important;
      }
      .textprofile {
          font-size: 13px;
          margin-bottom: 40px;
          margin-top: 10px;
      }
      .tunai h2, .cicilan h2 {
          font-size: 20px;
      }
      .priceList li {
          font-size: 14px;
      }
      p {
          font-size: 13px;
      }
      .form-request {
        padding: 15px;
      }
      .discount{
          width: 50px;
          margin-left: 0px;
      }
      .discText p {
          font-size: 13px;
      }
      .form-request input {
          height: 40px;
          line-height: 48px;
          font-size: 13px;
      }
      .onoffswitch {
          margin-top: -9%;
      }
      /*#bgmaps{
        width: 100%;
        height: 55%
      }*/
      section.contact {
        padding-right: 15%;
        padding-left: 15%;
        margin-left: 0px;
        width: 100%;
        margin-right: 0px;

      }
      section.team {
          margin-top: 0px;
      }
      .contactbox {
          padding: 20px 10px 5px 5px;
          margin-left: 30px;
          margin-top: 80px;
      }
      .contact p {
          font-size: 13px;
          margin-bottom: 5px;
      }
      label.tunaiRegister{
        width: 100% !important;
        margin-bottom: 10px !important;
        margin-right: 0px;
      }
      label.cicilanRegister{
        width: 100% !important;
        margin-left: 0px;
      }
      .tunaiRegister h2, .cicilanRegister h2 {
          font-size: 20px;
          margin-top: 5px;
      }
      p.RegisterDetail {
          text-align: center;
      }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
        .section-heading-home h1 {
        font-size: 26px;
      }
      .btn-bsr {
          padding: 10px 14px;
          font-size: 13px;
      }
      a.btn.btn-primary:focus, a.btn.btn-primary:hover,
      input[type="submit"].btn-primary:focus, input[type="submit"].btn-primary:hover,
      .btn.btn-primary:not([disabled]):focus, .btn.btn-primary:not([disabled]):hover{
        font-size: 13px;
      }
      a.btn.btn-primary,
      input[type="submit"].btn-primary,
       .btn.btn-primary{
        font-size: 13px;
      }
      .h1, h1 {
          font-size: 26px;
      }
      .reason .section-heading.stPartner p {
          font-size: 15px;
      }
      .h4, h4 {
          font-size: 15px;
      }
      .alumni .stPartner p {
          font-size: 15px;
      }
      section.contact {
          padding-top: 20px;
          margin-left: 0px;
          width: 100%;
          margin-right: 0px;

      }
      .onoffswitch {
          margin-top: -10%;
      }
      .mapToggle h5 {
          margin-top: -4%;
      }
      footer p{
        margin-bottom: 10px;
      }
}

@media only screen and (max-width : 568px) {
      .onoffswitch-inner::before, .onoffswitch-inner::after {
          display: block;
          float: left;
          width: 50%;
          height: 20px;
          padding: 0;
          padding-left: 10px;
          line-height: 20px;
          font-size: 12px;
          color: white;
          font-family: Trebuchet, Arial, sans-serif;
          font-weight: bold;
          box-sizing: border-box;
      }
      .onoffswitch-switch {
          width: 13px;
      }
      .mapToggle h5 {
          font-size: 12px;
          left: 46.25%;
      }
      .navbar-default, .navbar-default.affix {
          height: 60px;
          width: 100%;
      }
      .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo {
          width: 50%;
      }
      .stPartner {
          margin-bottom: 15px;
      }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
      .section-heading-home h1 {
          font-size: 21px !important;
      }
      #home p.text-muted {
          font-size: 16px !important;
      }
      .profession {
          height: 25vh;
      }
      .subLogos img {
          height: 23px;
      }
      .h3, h3 {
          font-size: 18px;
      }
      #home p {
          font-size: 12px !important;
      }
      a.btn.btn-primary:focus, a.btn.btn-primary:hover,button.btn.btn-primary:focus, button.btn.btn-primary:hover,
      input[type="submit"].btn-primary:focus, input[type="submit"].btn-primary:hover,
      .btn.btn-primary:not([disabled]):focus, .btn.btn-primary:not([disabled]):hover,
      a.btn.btn-success:focus, a.btn.btn-success:hover,
      input[type="submit"].btn-default:focus, input[type="submit"].btn-success:hover,
      .btn.btn-success:not([disabled]):focus, .btn.btn-success:not([disabled]):hover{
          font-size: 11px !important;
      }
      a.btn.btn-primary,input[type="submit"].btn-primary,.btn.btn-primary,button.btn.btn-primary,
      a.btn.btn-success,input[type="submit"].btn-success,.btn.btn-success{
          font-size: 11px !important;
      }
      .btn-bsr {
          padding: 8px 10px;
      }
      .SPprofession {
          height: 23vh;
      }
      .h1, h1 {
          font-size: 21px;
      }
      .discount {
          margin-left: -10px;
      }
      .alumniList p {
          font-size: 12px;
      }
      .parallax {
          height: 30%;
      }
      .priceList li {
          font-size: 12px;
      }
      .tunai h2, .cicilan h2 {
          font-size: 16px;
      }
      .cicilan h5 {
          font-size: 13px;
      }
      .discText p {
          font-size: 12px;
          margin-top: 16px;
          margin-left: 0px;
      }
      .TunaiButton {
          margin-top: 94px;
      }
      section.contact {
          padding-right: 5%;
          padding-left: 5%;
          margin-left: 0px;
          width: 100%;
          margin-right: 0px;
      }
      #bgmaps {
          height: 80%;
      }
      section.contact {
          height: 80%;
          margin-left: 0px;
          width: 100%;
          margin-right: 0px;
      }
      .onoffswitch {
          margin-top: -20%;
      }
      .mapToggle h5 {
          margin-top: -12%;
      }
      .apply-form-row label {
          flex: 0 0 auto;
          -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
          margin-bottom: 10px !important;
          padding-left: 0px !important;
      }
      .apply-form-row{
          padding: 15px 10px;
      }
}
@media only screen and (max-width : 414px) {
      .registerChapcha {
          padding-left: 16.5%;
      }
      .onoffswitch {
          margin-left: -15px;
      }
      .mapToggle h5 {
          margin-left: -15px;
      }
      .contact .stPartner{
        margin-left: 35px;
      }
      .mdPartner {
          width: 201.3px !important;
      }
      .falumni {
          width: 90px !important;
          max-width: none;
          margin-left: -10px;
      }
      .falumniLeft {
          margin-left: -30px;
      }
      .reason-img{
        width: 50px;
        max-width: none;
        margin-left: -10px;
      }

}
@media only screen and (max-width : 384px) {
      .registerChapcha {
          padding-left: 12.5%;
      }

}

@media only screen and (max-width : 375px) {
      .navbar .container {
          padding-right: 20px;
          padding-left: 20px;
          margin-top: 0px;
      }
      .navbar-default, .navbar-default.affix {
          height: 50px;
          width: 100%;
      }
      .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo {
          width: 40%;
          padding-top: 10px;
      }
      section.contact {
          padding-right: 0%;
          padding-left: 0%;
          margin-left: 0px;
          width: 100%;
          margin-right: 0px;

      }
      #home p.text-muted {
          font-size: 14px !important;
      }
      .reason .section-heading.stPartner p {
            padding-right: 0%;
            padding-left: 0%;
            font-size: 13px;
      }
      .alumni .stPartner p {
            padding-left: 0%;
            padding-right: 0%;
            font-size: 13px;
      }
      .reason-img{
        width: 50px;
        max-width: none;
        margin-left: -10px;
      }
      .alumniList p {
          font-size: 11px;
      }
      .falumni {
          width: 70px !important;
          max-width: none;
          margin-left: -10px;
      }
      .mdPartner {
          width: 183.7px !important;
      }
}
@media only screen and (max-width : 384px) {
      .navbar .container {
          padding-right: 20px;
          padding-left: 20px;
          margin-top: 0px;
      }
      .navbar-default, .navbar-default.affix {
          height: 50px;
          width: 100%;
      }
      .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo {
          width: 40%;
          padding-top: 10px;
      }
      .reason .section-heading.stPartner p, .alumni .stPartner p  {
          font-size: 14px;
          padding-right: 5%;
          padding-left: 5%;
      }
      .contact p {
          font-size: 12px;
      }
      .mdPartner {
          width: 187.8px;
      }
      .falumni{
          width: 80px;
          max-width: none;
          margin-left: -30px;
      }
      .reason-img {
          width: 40px;
          max-width: none;
      }

}

@media only screen and (max-width : 360px) {
      .navbar .container {
          padding-right: 20px;
          padding-left: 20px;
          margin-top: 0px;
      }
      .navbar-default, .navbar-default.affix {
          height: 50px;
          width: 100%;
      }
      .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo {
          width: 40%;
          padding-top: 10px;
      }
      .tunai, .cicilan {
          width: 48%;
      }
      .btn-bsr {
          padding: 6px 7px;
      }
      section.contact {
          padding-right: 0%;
          padding-left: 0%;
          margin-left: 0px;
          width: 100%;
          margin-right: 0px;

      }
      .reason-img {
          width: 40px;
          max-width: none;
      }
      .mdPartner {
          width: 175px !important;
      }
      .faluni{
          width: 80px;
          max-width: none;
          margin-left: -30px;
      }
      .alumni .stPartner p {
          padding-left: 0%;
          padding-right: 0%;
          font-size: 13px;
      }
      .reason .section-heading.stPartner p {
          padding-right: 0%;
          padding-left: 0%;
          font-size: 13px;
      }
      .charGroup {
          padding-top: 15px;
      }
      .textprofile {
          font-size: 12px;
      }
      .registerChapcha {
          padding-left: 11%;
      }
      .falumniLeft {
          margin-left: -30px;
      }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
      /*.navbar .container {
          padding-right: 20px;
          padding-left: 20px;
          margin-top: 0px;
      }
      .navbar-default, .navbar-default.affix {
          height: 50px;
      }
      .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo {
          width: 40%;
          padding-top: 10px;
      }*/
      .mdPartner {
          width: 159px !important;
      }
      .tunai, .cicilan {
          width: 100%;
      }
      .tunai{
        margin-right: 0px;
        margin-bottom: 20px;
      }
      .cicilan{
        margin-left: 0px;
      }
      .registerChapcha {
          /*padding-left: 4.5%;*/
          padding-left: 2.5%;
      }
      .navbar-brand {
          float: none;
          padding: 15px 0px;
      }
      .navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo {
          width: 35%;
          padding-top: 20px;
          margin-left: 10px;
      }
      button.btn.btn-default {
          background: #e65b6c;
          color: #fff;
          padding-left: 5.5em;
          padding-right: 5.5em;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          font-size: 13px;
      }
      .item label {
          font-size: 13px;
      }
      p.RegisterDetail {
          font-size: 13px;
      }
      .falumniLeft {
        margin-left: -35px;
      }
      .falumniRight{
        margin-right: -10px !important;
      }
      .alumniList h3 {
        margin-left: -20px;
      }
      .alumniList p {
        margin-left: -20px;
      }
      .textRight{
        margin-left: 0px !important;
        padding: 0px !important;
      }
      .PProfile {
          width: 60%;
      }
      .contact p {
          font-size: 11px;
      }
      .container{
        overflow-x: hidden;
      }
      .contact .stPartner{
        margin-left: 35px;
      }
      .onoffswitch {
          margin-top: -15%;
          margin-left: -15px;
      }
      .mapToggle h5 {
          margin-top: -6%;
          margin-left: -15px;
      }
      .apply-form-row label{
        flex: 0 0 auto;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        margin-bottom: 10px !important;
      }
      .apply-form-row{
        display: inline-block;
      }
      .priceList{
        padding: 0 25px;
      }
}
