@font-face {
  font-family: 'Catamaran';
  src: url('../font/Catamaran/Catamaran.ttf');
}
@font-face {
  font-family: 'Muli';
  src: url('../font/Muli/Muli.ttf');
}
@font-face {
  font-family: 'Lato';
  src: url('../font/Lato/Lato.ttf');
}
@font-face {
  font-family: 'Baloo Bhaina';
  src: url('../font/Baloo_Bhaina/BalooBhaina.ttf');
}
@font-face {
  font-family: 'Lemonada';
  src: url('../font/Lemonada/Lemonada.ttf');
}
@font-face {
  font-family: 'Nunito';
  src: url('../font/Nunito/Nunito.ttf');
}

.heading-font {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px
}
.body-font {
    font-family: Muli, Helvetica, Arial, sans-serif
}
.alt-font {
    font-family: Lato, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px
}


body,html {
    height: 100%;
    width: 100%
}
body {
    font-family: Muli, Helvetica, Arial, sans-serif;
    webkit-tap-highlight-color: #222;
    overflow-x: hidden;
}
.navbar-default,.navbar-default .navbar-header .navbar-brand,
h1,h2,h3,h4,h5,h6 {
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1px
}
a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color: #ce5866
}
a:focus,a:hover {
    color: #ce5866;
}

hr {
    /*max-width: 100px;
    margin: 25px auto 0;*/
    width: 70%;
    margin: 25px auto 10px;
    border-width: 1px;
    border-color: rgba(34, 34, 34, .1)
}
hr.light {
    border-color: #fff
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px
}

.navbar-default .navbar-collapse{
    padding-top: 5px;
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  /*transform: translatex(-50%);*/
  width: 60%;
  margin-top: 20px;
  transform: translatex(-38%);
}
.navbar-default.affix {
  background-color: #fff;
  border-color: rgba(34, 34, 34, .1);
  height: 80px;
}
.navbar-default {
    background-color: #fff;
    border-color: rgba(34, 34, 34, .05);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    background-color: transparent;
    border-color: transparent;
    height: 60px;
}
.navbar-default.affix .nav>li>a{
  font-size: 17px;
}
.navbar-default .nav>li>a{
  font-size: 15px;
  /*color: rgba(255, 255, 255, 0.88);*/
  color: #323054;
}



.navbar-default .navbar-header .navbar-brand {
    color: #fdcc52
}
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-default .navbar-header .navbar-brand:hover {
    color: #fcbd20
}
.navbar-default .navbar-header .navbar-toggle {
    font-size: 12px;
    color: #222;
    padding: 8px 10px
}
.navbar-default .nav>li>a{
    color: #7985af;
}
.navbar-default .nav>li>a:hover {
    color: #e85164 !important;
}

/*.navbar-default .nav>li.active>a,*/
.navbar-default .nav>li.active>a{
    color: #e85164 !important;
    background-color: transparent;
}
.navbar-default .nav>li.active>a:focus {
    color: #e85164 !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a.active,
.navbar-default .nav>li.active>a:active {
    color: #e85164 !important;
    background-color: transparent
}

.navbar-default.affix .nav>li.active>a,
.navbar-default.affix .nav>li.active>a:focus {
    color: #e65b6c !important;
    background-color: transparent
}

.navbar-default .nav>li.active>a:focus:hover,
.navbar-default .nav>li.active>a:hover {
    background-color: transparent
}
.char{
  padding: 0px;
}

/*a.button.mod-primary:focus, a.button.mod-primary:hover,
input[type="submit"].mod-primary:focus, input[type="submit"].mod-primary:hover,
button.mod-primary:not([disabled]):focus, button.mod-primary:not([disabled]):hover*/

/*a.btn.btn-primary:focus, a.btn.btn-primary:hover,
input[type="submit"].btn-primary:focus, input[type="submit"].btn-primary:hover,
btn.btn-primary:not([disabled]):focus, btn.btn-primary:not([disabled]):hover {
    background: -webkit-linear-gradient(top, #f37887 0, #f37887 100%);
    background: linear-gradient(to bottom, #d66472 0, #ec5c6e 100%);
    box-shadow: 0 2px 0 #8a3842;
    color: #fff !important;
    font-size: 16px;
}
a.btn.btn-primary{
    background: -webkit-linear-gradient(top, #f37887 0, #f37887 100%);
    background: linear-gradient(to bottom, #d66472 0, #ec5c6e 100%);
    box-shadow: 0 2px 0 #8a3842;
    color: #fff !important;
    font-size: 16px;
}*/

.navbar-default.affix .nav>li.active>a.btn.btn-primary.btn-lg{
  background-color: #e65b6c;
  color: #fff !important;
  border: 1px solid #e85164;
}
.navbar-default.affix .nav>li.active>a.btn.btn-primary.btn-lg:focus, .navbar-default.affix .nav>li.active>a.btn.btn-primary.btn-lg:active
.navbar-default.affix .nav>li.active>a.btn.btn-primary.btn-lg.active, .navbar-default.affix .nav>li.active>a.btn.btn-primary.btn-lg:hover{
  color: #fff !important;
  background-color: #ad4f5a;
  border: 1px solid #ad4f5a;
}
.navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
  width: 55%;
  height: auto;
  margin-top: 0px;
  display: block;
}
.nav.navbar-nav.navbar-right{
  padding-top: 10px;
}
.navbar.navbar-default.navbar-fixed-top.affix .main-logo{
  width: 70%;
  height: auto;
  margin-top: 0px;
  display: block;
}
/*.navbar-default.affix .navbar-header .navbar-brand .main-logo, .navbar-default .navbar-header .navbar-brand .main-logo{
  width: 90%;
  height: auto;
  margin-top: -5px;
  display: block;
}*/
/*.navbar.navbar-default.navbar-fixed-top.affix-top .main-logo{
  width: 90%;
}*/

a.btn.btn-primary:focus, a.btn.btn-primary:hover,
input[type="submit"].btn-primary:focus, input[type="submit"].btn-primary:hover,
.btn.btn-primary:not([disabled]):focus, .btn.btn-primary:not([disabled]):hover{
  background: #ad4f5a;
  font-size: 16px;
  color: #fff !important;
  border: 1px solid #ad4f5a;
}
button.btn.btn-primary{
  background: #e65b6c;
  font-size: 16px;
  color: #fff;
  padding-left: 1.8em;
  padding-right: 1.8em;
  font-size: 16px;
  border: 1px solid #e85164;
  outline: none;
}
.daftar, .silabus{
  margin-right: 2px;
}
a.btn.btn-success, button.btn.btn-success{
  background: transparent;
  color: #ad4f5a !important;
  border: 2px solid #ad4f5a;
  outline: none;
}
a.btn.btn-success:focus, a.btn.btn-success:hover,
input[type="submit"].btn-success:focus, input[type="submit"].btn-success:hover,
.btn.btn-success:not([disabled]):focus, .btn.btn-success:not([disabled]):hover,
button.btn.btn-success:focus, button.btn.btn-success:hover,
input[type="submit"].btn-success:focus, input[type="submit"].btn-success:hover,
.btn.btn-success:not([disabled]):focus, .btn.btn-success:not([disabled]):hover{
  background: #ad4f5a;
  color: #fff !important;
  border: 1px solid #ad4f5a;
  outline: none !important;
}

.navbar-nav>li .btn.btn-primary.btn-lg{
  color: #fff;
}

.container {
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.logos{
  display: inline-block;
  margin: 0 auto;
}
.logo{
    display:inline-block;
    max-width: 300px;
    margin: 15px auto;
    width: 90%;
}
.screen_capture{
  padding: 25px 0px;
}

.main-screen{
  width: 55%;
  height: auto;
  margin-top: 150px;
  margin-left: 20%;
}

.main-preview-player {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.video-js,
.playlist-container {
  position: relative;
  min-width: 300px;
  min-height: 290px;
  height: 0;
}
.video-js {
  flex: 3 1 70%;
}
.playlist-container {
  flex: 1 1 30%;
}
.vjs-playlist {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.video-js .vjs-big-play-button {
    font-size: 3em !important;
    line-height: 1.9em !important;
    height: 2em !important;
    width: 2em !important;
    padding: 20px !important;
    border-radius: 2em !important;
    top: 160px;
    left: 240px;
}

/* ======================================== HOME ========================================= */
#home>.container {
    margin-top: 0px;
    padding-right: 115px;
    padding-left: 115px;
    margin-right: auto;
    margin-left: auto;
}
.btn-bsr {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
}
#home{
  background-image: url('../img/background.jpg');

  /* Full height */
  /*height: 100%;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#home p{
  font-size: 15px !important;
  margin-top: 10px;
}
#home p.text-muted{
  font-size: 18px !important;
}
.subLogos{
  display: inline-block;
  width: 100%;
  /*margin: 0 auto;*/
    margin-left: -3px;
    padding-right: 15%;
    margin-bottom: 8px;
}
.subBtn{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}
.subLogos img{
  height: 30px;
  padding: 0 4px;
  width: auto;
  margin: auto;
}
.profession{
  height: 50vh;
  width: auto;
  margin: auto;
}
.SPprofession{
  height: 30vh;
  width: auto;
  margin: auto;
  padding-top: 25px;
}
.charGroup{
  padding-top: 35px;
}
h1{
  font-family: 'Baloo Bhaina', cursive;
  color: #e65b6c;
}
/*header{
  padding-top: 80px;
}*/
header h1{
  font-family: 'Baloo Bhaina', cursive;
  color: #6d6aa9;
}
.section-heading-home p.text-muted{
    color: #7985af;
    margin-bottom: 30px;
}

  #home { padding-bottom: 45px; }
  .btn-primary{
    background-color: #e65b6c;
    border: 1px solid #c9302c !important;
  }
  .section-heading-home{
    margin-top: 100px;
  }
  .section-heading-home h1{
    font-size: 42px;
  }

  .btn-primary.active,.btn-primary:active,
  .btn-primary:focus,.btn-primary:hover {
      color: #fff;
      background-color: #36405f;
      border-color: #36405f;
  }

  .nav.nav--prev, .nav.nav--next{
    width: 40px;
    height: 60px;
    background: rgba(14, 14, 14, 0);
    border-radius: 10px;
    border: 2px solid #b9b7ec;
    color: #b9b7ec;
    padding: 14px 10px;
    font-size: 20px;
  }
  /*==================================== End Slider =============================================*/

/* ======================================== request ========================================= */
.request{
  background-color: #f1f1f1;
  padding: 15px 0 40px 0;
}
.pricing{
  font-size: 13px !important;
}
.request .text-request{
  color: #888888;
}
.form-request{
  background: #e6e6e6 none repeat scroll 0 0;
  padding: 40px;
}
.form-request p{
  color: #7985af;
}
.text-request{
  padding-top: 0px;
  display: inline-block;
}
.text-request p{
    font-size: 18px;
}

.form-request input{
  width: 100%;

  height: 54px;
  line-height: 48px;
  padding-left: 16px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 3px;
  font-size: 16px;
  color: #888888;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-request .submit_button{
  margin: 10px 0;
}

button.submit_button{
  width: 100%;
  margin: auto;
}
.discount{
  /*width: 250px;
  height: auto;
  margin-left: 23%;*/
  width: 70px;
  height: auto;
  margin-top: 10px;
  margin-left: -30px;
}
.discText{
  margin-top: 0px;
  display: inline-block;
  width: 100%;
}
.discText p{
  font-size: 14px;
    margin-top: 25px;
    margin-left: -30px;
  font-family: 'Lemonada', cursive;
  color: #6d6aa9;
}
.priceGroup{
  margin-top: 0px;
  padding: 0px;
  /*padding: 30px 0 0 20px;*/
}
.priceList{
  padding: 0 0 0 15px;
}
.priceList li{
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
}
.TunaiButton{
  margin-top: 84px;
}
.reservasi{
  padding: 0;
  /*margin-top: 20px;*/
}
.reservasi h4{
  color: #6d6aa9;
  font-family: 'Lemonada', cursive;
  line-height: 1.7em;
}
.tunai{
  /*background-color: #6d6aa9;
  color: #fff;*/
  background-color: transparent;
  border: 2px solid #6d6aa9;
  color: #6d6aa9;
  font-style: oblique;
  padding: 20px 10px;
  width: 49%;
  margin-right: 5px;
}
.cicilan{
  /*background-color: #d86f80;*/
  background-color: #313052;
  color: #fff;
  font-style: oblique;
  padding: 20px 10px;
  width: 49%;
  margin-left: 5px;
}
.cicilanButton {
    margin-top: 38px;
}
.cicilan hr{
  border-color: rgba(255, 255, 255, 0.1);
}
.tunai h2, .cicilan h2{
  color: #e65b6c;
}
.cicilan h5{
  margin-top: 14px;
  font-size: 16px;
  color: #a7a6ce;
}
.cicilan ul, .tunai ul{
  margin-bottom: 14px;
}
.tunai button, .cicilan button{
  font-size: 14px !important;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  /*padding: 10px 20px !important;*/
}
.brs{
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, .1);
}

/* ======================================== REASON ========================================= */
section.reason{
  background: -webkit-linear-gradient(#2d2d4c, #59498c);
  background: linear-gradient(#2d2d4c, #59498c);
  /*background: linear-gradient(#59498c, #5d64ae);*/
  color: #fff;
  padding: 30px 0;
}
/*.reasonGroup{
  padding-right: 15%;
  padding-left: 15%;
}*/
.reasonList{
  margin-top: 20px;
  /*margin-bottom: 20px;
  padding-top: 10px;*/
}
.reasonList p{
  color: #9b9ec1;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}
.reason .section-heading.stPartner p{
  color: #7985af;
  font-size: 20px;
  padding-right: 15%;
  padding-left: 15%;
}
.rc-anchor-normal {
    height: 74px !important;
    width: 260px !important;
}

/* ======================================== Partner ====================================== */
.parallax {
    /* The image used */
    background-image: url('../img/images/class.jpg');
    /*background-image: url('../img/parallax.png');*/

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ======================================== Partner ====================================== */
section.partner{
  padding: 30px 0;
}
.stPartner{
  margin-bottom: 30px;
}
.mdPartner{
  margin-top: 20px;
  margin-bottom: 20px;
}
.textprofile{
  color: #888888;
}
/* ======================================== Alumni ==================================== */
section.alumni{
  background: #f2f2f2;
  padding: 40px 0;
}
.alumni .stPartner p{
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  color: #929fca;
}
.falumni{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}
.alumniGroup{
  padding-left: 10%;
  padding-right: 10%;
}
.alumniList{
  margin-top: 20px;
  margin-bottom: 20px;
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}
.alumniList p{
  font-size: 15px;
  color: #5a5a5a;
}
.alumniList h3{
  font-family: 'Baloo Bhaina', cursive;
  color:#7985af;
}
.alumniList h5{
  margin-bottom: 20px;
}
.garis{
    /*max-width: 100px;*/
    width: 100%;
    /*margin: 25px auto 0;*/
    margin: -15px auto 0;
    border-width: 1px;
    border-color: #dedee2;
    border: 0;
    border-top: 1px solid #dedee2;
}

/* ======================================== Team ====================================== */
.team h3{
  font-family: 'Baloo Bhaina', cursive;
  color:#574889;
}
section.team{
  background: #f6f8fa;
  padding: 30px 0;
  margin-top: -400px;
}
.textprofile{
  font-size: 14px;
}
.PProfile{
  width: 65%;
  height: auto;
  margin: auto;
}
a.button.mod-primary, input[type="submit"].mod-primary, button.mod-primary {
    background: -webkit-linear-gradient(top, #e65b6c 0, #c3525d 100%);
    background: linear-gradient(to bottom, #e65b6c 0, #c3525d 100%);
    box-shadow: 0 2px 0 #a22e3a;
    color: #fff !important;
    padding-left: 1.8em;
    padding-right: 1.8em;
    font-size: 16px;
}
a.button.mod-primary:focus, a.button.mod-primary:hover, input[type="submit"].mod-primary:focus, input[type="submit"].mod-primary:hover, button.mod-primary:not([disabled]):focus, button.mod-primary:not([disabled]):hover {
    background: -webkit-linear-gradient(top, #c3525d 0, #bf3b48 100%);
    background: linear-gradient(to bottom, #c3525d 0, #bf3b48 100%);
    box-shadow: 0 2px 0 #a22e3a;
    color: #fff !important;
    font-size: 16px;
}
.button:not([disabled]):focus, .button:not([disabled]):hover {
    background: #c4c9cc;
    background: -webkit-linear-gradient(top, #e65b6c 0, #c3525d 100%);
    background: linear-gradient(to bottom, #e65b6c 0, #c3525d 100%);
    color: #4d4d4d;
}a.button {
    background: -webkit-linear-gradient(top, #edeff0 0, #e2e4e6 100%);
    background: linear-gradient(to bottom, #edeff0 0, #e2e4e6 100%);
    border: 0;
    border-radius: .3em;
    box-shadow: 0 2px 0 #a5acb0;
    color: #4d4d4d;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.2;
    margin: .3em 1em 1em 0;
    outline: 0;
    padding: .7em 1.2em;
    position: relative;
    text-decoration: none;
}
.medsos{
  display: inline-block;
  margin: 0 auto;
}
.medsos i{
  font-size: 25px;
  margin-top: -10px;
}
.facebook{
  color: #3b5998;
  margin-right: 3px;
}
.linkedin{
  color: #0274b3;
  margin-left: 3px;
}


/*========================================= Contact ==================================== */
#bgmaps{
  width: 100%;
  height: 80%
}
section.contact{
  /*background: #2e2d4d;*/
  background: rgba(36, 34, 95, 0.75);
  /*padding: 30px 0 20px 0;*/
  padding-right: 30%;
  padding-left: 30%;
  padding-top: 40px;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 80%;
}
.contactbox{
  background-color: #fff !important;
  margin: auto;
  /*position: absolute;*/
  z-index: auto;
  padding: 40px 20px 20px 20px;
  border-radius: 20px;
  display:inline-block;
}
section.contact .container, section.contact .row{
  padding: 0px;
  width: 100% !important;
}
#map{
  /*height: 300px;
  width: 650px;
  text-align: center;*/
  width:100%;
    /*height:80%;
    margin:0;
    padding:0;
    position:absolute;*/
}
.bg-map {
  position: inherit;
  border:0;
  padding-bottom:0px;
  width: 100%;
  height: 80%;
}
.contact p{
  font-size: 14px;
  color: #716eac;
}
#toggle-one{
  position: absolute;
}

/*============================================= Footer ===========================================*/
footer{
    text-align: center;
    background: #ce5866;
    color: #fff;
    padding-top: 20px;
    position: inherit;
}
footer p{
  font-size: 12px;
}
footer a{
  color: #fff;
}
footer a:hover{
  color: #000 !important;
}



label, .label{
  margin-bottom: 0px !important;
}
.onoffswitch {
    position: absolute;
    /*margin-top: -12%;*/
    margin-top: -7%;
    left: 46.5%;
    width: 64px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
/*.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 17px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 5px; padding: 0; line-height: 5px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #a5555f; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: -6.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 55px;
    border: 2px solid #999999; border-radius: 17px;
    transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}*/

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.1s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #ff7f8e; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.1s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.mapToggle h5{
  position: absolute;
  margin-top: -3%;
  left: 46%;
  color: #f3f3f3;
}




/*======================================== Form Register ==============================================*/
.registry{
  margin-top: 80px;
  /*padding-left: 10%;
  padding-right: 10%;*/
}
.page-tittle{
  background-image: url('../img/images/class.jpg');
  padding: 6%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.FormRegister{
  background: #f6f8fa;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.apply-form-row-first {
    color: white;
    background: #494775;
}
select.form-control:focus,select.form-control:active{
    outline: none;
}
select:active, select:focus, input:active, input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus,
select.form-control:focus, select.form-control:active, textarea:active, textarea:focus  {
    border: 2px solid #6d6aa9;
    background-image: #fff;
    outline: none;
}

.apply-form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    padding: 30px 20px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    border-left: 0px solid black;
    -webkit-transition: .3s ease border-left;
    transition: .3s ease border-left;
}
.apply-form-row-first label {
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
}
.apply-form-row label {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    color: #9d9bc7;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 0;
}
.apply-form-row-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.apply-form-row input {
    /*-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: none;
    outline: 0;
    background-color: transparent;
    box-shadow: none;*/
    width: 100%;
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    outline: none;
}
.apply-form-row.apply-form-row-first label{
  color: #fff !important;
}
.item{
  padding: 4%;
}
.item label{
  margin-bottom: 5px !important;
}
.form-register{
  width: 100%;
}
.registerChapcha{
  padding-left: 27.5%;

}
.textarea-register{
  -webkit-box-flex: 4;
    -ms-flex: 4 1 auto;
    flex: 4 1 auto;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    border: 1px solid #ccc;
    resize: none;
    height: 150px;
    width: 100%;
    padding: 10px;
    outline: 0;
    border-radius: 4px;
}
button.btn.btn-default{
    background: #e65b6c;
    color: #fff;
    padding-left: 5.5em;
    padding-right: 5.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 18px;
    border: 1px solid #e85164;
    outline: none;
}
button.btn.btn-default:focus, button.btn.btn-default:hover,
input[type="submit"].btn-default:focus, input[type="submit"].btn-default:hover,
.btn.btn-default:not([disabled]):focus, .btn.btn-default:not([disabled]):hover{
  background: #ad4f5a;
  color: #fff !important;
  border: 1px solid #ad4f5a;
}
.centerBtnRegister{
  /*padding-top: 20px;*/
}
.charRegister{
  width: 100%;
  margin: 20px auto auto;
}
.charRegister .profession{
  height: 40vh !important;
}
p.RegisterDetail{
  font-size: 14px;
  text-align: left;
}
.registry .subLogos {
  display: inline-block;
  width: 100%;
  /* margin: 0 auto; */
  margin-left: -3px;
  padding-right: 15px;
  padding-left: 15px
  margin-bottom: 8px;
}
label.tunaiRegister {
    background-color: transparent;
    border: 2px solid #6d6aa9;
    color: #6d6aa9;
    font-style: oblique;
    padding: 20px 10px;
    cursor: pointer;
    display: block;
    margin-right: 2px;
    width: 49%;
    padding:0 7px;
}
label.cicilanRegister {
    /* background-color: #d86f80; */
    background-color: #313052;
    color: #fff;
    font-style: oblique;
    padding: 20px 10px;
    margin-left: 2px;
    cursor: pointer;
    display: block;
    margin-left: 2px;
    width: 49%;
    padding:0 7px;
}
.cicilanRegister hr{
  border-color: rgba(255, 255, 255, 0.1);
}
.tunaiRegister h2, .cicilanRegister h2{
  color: #e65b6c;
  margin-top: -5px;
}
.cicilanRegister h5{
  margin-top: 14px;
  font-size: 16px;
  color: #a7a6ce;
}
.cicilanRegister ul, .tunaiRegister ul{
  margin-bottom: 14px;
}
.tunaiRegister button, .cicilanRegister button{
  font-size: 14px !important;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  /*padding: 10px 20px !important;*/
}
.tunaiRegister .priceList li, .cicilanRegister .priceList li{
  font-size: 13px;
}
.tunaiRegister ul.priceList{
  padding-bottom: 34px;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

input[type=radio]:checked ~ label{
  color: #0DFF92;
}
.info_opsi_register{
  padding: 0 15%;
}
